<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>webtuts.com.pl - administracja</title>
    <link type="text/css" href="http://bootswatch.com/yeti/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="/css/shared.css" rel="stylesheet" />
    <link type="text/css" href="/css/admin.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            <div class="container-logo">
                <div class="logo">
                    <h1>
                        <span class="bold">web</span>tuts.com.pl
                        <div class="slogan">tips&amp;tricks and tutorials for developers</div>
                    </h1>
                </div>
                <div class="clearfix"></div>
            </div>
            <nav class="navbar navbar-inverse">
                <div class="navbar-form navbar-left">
                    <a href="/forum" class="btn btn-default"><span class="glyphicon glyphicon-indent-left" /> Forum</a>
                    <a href="/page/autorzy" class="btn btn-default"><span class="glyphicon glyphicon-envelope" /> Autorzy</a>
                </div>
                <div class="navbar-form navbar-right">
                    <a href="/" class="btn btn-danger"><span class="glyphicon glyphicon-user" /> <span class="bold">Frontend</span></a>
                </div>
            </nav>
        </header>
        <section class="container-base">
            <section class="container-sidebar">
                <p class="lead lead-sidebar caps">Domena zarządzania</p>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/admin/categories"><span class="glyphicon glyphicon-folder-close"></span> Kategorie</a></li>
                    <li><a href="/admin/posts"><span class="glyphicon glyphicon-font"></span> Artykuły</a></li>
                    <li><a href="/admin/contents"><span class="glyphicon glyphicon-pencil"></span> Podstrony statyczne</a></li>
                    <li><a href="/admin/users"><span class="glyphicon glyphicon-user"></span> Użytkownicy</a></li>
                </ul>
            </section>
            <section class="container-body">
                <%- body -%>
            </section>
            <div class="clearfix"></div>
        </section>
        <footer>
            <nav class="navbar navbar-footer">
                <p class="navbar-text pull-right">Made on top of Node.js, Mongo and fascinated by open-source</p>
            </nav>
        </footer>
    </div>
</body>
</html>
