@import 'bootstrap.scss';
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200);

body {
    background: url('/images/bg.jpg') no-repeat top center;
}

.navbar-small {
    font-size: 0.5em;
}

.container-whole {
    @extend .row;
}

.container-sidebar {
    @extend .col-lg-3;
    padding-left: 0;
    .nav-categories {
        margin-bottom: 40px;
        li {
            a {
                color: #000;
                &:hover {
                    text-decoration: underline;
                    font-weight: 400;
                }
            }
        }
    }
    .lead-online {
        margin-top: 20px;
    }
    .lead-search {
        margin-bottom: 0;
    }
    .hint {
        padding: 0;
        margin: 0;
        color: #ccc;
    }
    .form-search {
        margin-top: 10px;
    }
    .btn-search {
        margin-top: 5px;
    }
}

.container-body {
    @extend .col-lg-9;
}

.header-logo {
    margin: 10px 0;
}

.text--right {
    text-align: right;
}

header {
    height: 250px;
    position: relative;

    h1 {
        font-weight: 300 !important;
        font-family: 'Raleway', sans-serif;
        .slogan {
            font-size: 11px;
            padding-left: 25px;
        }
    }
    .navbar-right {
        padding-right: 20px;
    }
    small {
        font-weight: 300;
    }
    .navbar {
        margin-top: 80px;
    }
}

footer {
    background: url('/images/footer.jpg') no-repeat;
    margin-top: 10px;
    .navbar-footer {
        color: #999;
        padding-top: 30px;
    }
}

.caps {
    text-transform: uppercase;
}

.tutorial {
    margin-bottom: 70px;
    .tutorial-description {
        text-indent: 20px;
    }
    .btn-comment {
        margin-right: 5px;
    }
    .tutorial-metadata {
        color: #666;
        border-top: 1px solid #eee;
        display: block;
        text-align: right;
        padding-top: 10px;
    }
}

.lead-sidebar {
    font-size: 16px;
    font-weight: 300 !important;
}

.bold {
    font-weight: 700;
}

.container-logo {
    @extend .row;
    color: #cff5ff;
    .logo {
        padding-top: 50px;
        @extend .col-lg-8;
    }
    .statistics {
        padding-top: 10px;
        @extend .col-lg-4;
        @extend .text--right;
        @extend .caps;
        color: #666;
        font-size: 11px;
    }
}

.btn-login {
    margin-bottom: 10px;
}

.form-field-error {
    color: red;
}

.auth-info {
    color: #cff5ff;
    img {
        width: 25px;
        height: 25px;
        border: 1px solid #eee;
        padding: 1px;
    }
    .user-info {
        .btn-logout {
            color: #ff0000;
            font-weight: 700;
        }
        position: relative;
        text-transform: none;
        background: rgba(0, 0, 0, 0.5);
        padding: 2px;
        top: 2px;
    }
}

.heading-basic {
    font-size: 30px !important;
    font-family: 'Exo 2', sans-serif;
    color: #000;
    font-weight: 500;
}

.section-tutorials {
    .tutorial {
        .tutorial-title, .tutorial-title a {
            font-size: 30px !important;
            font-family: 'Exo 2', sans-serif;
            color: #000;
            font-weight: 500;
        }
        h1, h2, h3, h4, h5, h6, h7 {
            font-weight: 300;
        }
        .tutorial-tags {
            .tag {
                &, a {
                    padding: 3px;
                    background: #999;
                    color: #fff;
                    font-size: 12px;
                }
                &.tag-mongo, &.tag-mongo a {
                    background: #574724;
                }
                &.tag-mysql, &.tag-mysql a,
                &.tag-redis, &.tag-redis a {
                    background: red;
                }
                &.tag-php, &.tag-php a,
                &.tag-node &.tag-node a,
                &.tag-pylons &.tag-pylons a,
                &.tag-turbogears &.tag-turbogears a {
                    background: green;
                }
            }
        }
        font-size: 16px !important;
        h1 {
            font-size: 20px !important;
        }
        img {
            max-width: 100%;
        }
        .type-rss {
            background: #FFA01C;
            color: #fff;
            @extend .caps;
            padding: 5px;
            margin-right: 10px;
            font-weight: 700;
        }
    }
    .twitter, .twitter a {
        font-weight: 700;
        color: #000;
    }
}

.text--center {
    text-align: center;
}

.paginator {
    @extend .text--center;
    a {
        padding: 5px;
    }
}

.container-base {
    margin-top: 30px;
}

.last-activity {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: 3px;
        border-bottom: 1px solid #eee;

        .github-username, .github-username a {
            color: #000;
            @extend .bold;
        }
        .activity {
            font-size: 10px;
            display: block;
        }
    }
}

img[alt=about-author-image] {
    width: 150px;
    height: 150px;
    padding: 2px;
    border: 1px solid #eee;
    margin: 0 10px 0 10px;
    float: left;
}

.contents-content {
    h1, h2, h3, h4, h5, h6, h7 {
        font-weight: 300;
    }
}
