<%- layout('layout') %>

<div class="404">
  <div class="alert alert-danger">
      Twoje żądanie nie może zostać wykonane. Podana strona nie została znaleziona. <span class="code">404</span>
  </div>
</div>
