<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>example</title>
    <link type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>express.js boostrap</h1>
        <section class="container-body">
            <p class="lead">Body content</p>
            <%- body -%>
        </section>
    </div>
</body>
</html>
