<%- layout('../layout') %>

<% block('title', 'Forum dyskusyjne - odpowiedz na temat') %>

<section class="section-base">
    <h1 class="heading">Odpowiedz</h1>
    <div class="row">
        <div class="col-lg-7">
            <form method="post">
                <%- form.toHTML() %>
                <small>Kodowanie działa w oparciu o <b>markdown</b></small>
                <div class="container-submit-btn">
                    <% if (user) { %>
                        <input type="submit" class="btn btn-default" value="Odpowiedz" />
                    <% } else { %>
                        <div class="alert alert-info">
                            Zaloguj się, aby zakładać tematy na forum.
                        </div>
                    <% } %>
                </div>
            </form>
        </div>
    </div>
</section>

