<%- layout('../layout') %>

<% block('title', 'Zlecenia internetowe - dodaj zlecenie') %>

<div class="section-base">
    <h1 class="heading">Dodawanie nowego zlecenia</h1>
    <form method="post">
        <%- form %>
        <input type="submit" class="btn btn-primary btn-md" value="Dodaj zlecenie" />
    </form>
</div>