<%- layout('../layout') %>

<div class="list-actions">
    <a href="/admin/categories" class="btn btn-primary caps">Lista</a>
</div>

<h2 class="lead">Dodaj nową kategorię</h2>

<form method="post" action="/admin/categories">
    <div class="form-group">
        <label for="name">Nazwa kategorii</label>
        <input type="text" class="form-control" name="name" id="name" value="<%= category.name || '' %>" />
        <% if (errors.name) { %>
            <div class="form-field-error"><%= errors.name.msg %></div>
        <% } %>
    </div>
    <div class="form-group">
        <input type="submit" value="Dodaj" class="btn btn-default"/>
    </div>
</form>
